.filter-form{
    width:620px;
    margin: auto;
    display: flex;
    background-color:White;
    top: 80px;
    z-index: 2
}
.rating{
    right:10px;
    top:10px;
    border-radius:10px;
    background-color:lightgrey;
    font-weight:600;
}